aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
distro
frozenlist
h11 
httpcore 
httpx 
idna
jiter 
langdetect 
magic-filter 
multidict 
openai 
propcache 
pydantic 
pydantic-core 
requests 
six 
sniffio 
tqdm 
typing-extensions 
typing-inspection 
urllib3 
yarl 
